body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 10px 240px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
 
    gap: 32px;
    list-style-type: none;
    margin: 0;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero-content {
    width: 450px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.hero-image {
    border: 1px solid white;
    height: auto;
    width: 800px;
}

.hero-button {
    background-color: #3882F6;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 10px;
    width: 60px;
}
